*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* padding: 20px 60px; */
}

footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #666;
  transition: 0.3s;
}

footer ul li:hover {
  color: #387ed1;
}

footer h5 {
  color: #424242;
  margin-bottom: 18px;
  font-size: 1.15rem;
  font-weight: 600;
}

footer p {
  color: #666;
}

.list-inline-item {
  cursor: pointer;
}

.list-inline-item:hover {
  color: #387ed1;
}